body {
    text-align: center;
  }
  
  div {
    margin-top: 15px;
  }

  .DataGrid {
    position: relative;
    display: flex;
  }

  .data-table {
    width: 60%;
    background-color: transparent;  
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 4px 0 #e0e0e0;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .data-table tbody{
    display:block;
    width: 100%;
    overflow: auto;
    height: 350px;
  }
  
  .data-table thead tr {
     display: block;
  }
  
  .data-table thead {
    background: black;
    color:#fff;
  }
  
  .data-table th, .data-table td {
    padding: 5px;
    text-align: left;
    width: 200px;
  }

  .data-table-header {
    margin: 0px;
    box-sizing: border-box;
    border: none;
    background-color: #f1f1f3;
    padding: 17px 20px;
    color: #000000;  
  }

  .data-table-header-cell {
    padding: 15px 35px 15px 20px;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1.70px;
    line-height: 14px;  
  }

  .data-table-cell {
    box-sizing: border-box;
    padding: 15px 35px 15px 20px;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;  
    text-align: left;
  }

  .data-table-data-row {
    border-bottom: 1px solid #d9d9d9;  
  }

  .data-table-data-body {
    overflow: auto;
    width: 100%;
    height: 600px;  
  }

  .actions-column {
     height: 350px; 
     flex: 1;
     width: 120px;
     max-height: 350px;
     overflow: hidden;
  }

  .action {
    width: 90px;
    font-size: 60px;  
  }
  